html {
  --primary: #7474db;
  --primary2: #131313;
  --secondary: #fff;
  --secondary2: #e4e4e4;
}
.container {
  width: 95%;
}
.container {
  margin: 50px 0;
}
header {
  display: flex;
  justify-content: space-between;
  color: var(--primary2);
  padding: 0.4em 0.8em;
  align-items: center;
}
.header-menu {
  display: none;
}
header > a {
  font-weight: bold;
}
span {
  color: var(--primary);
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
li img {
  width: 15px;
}
.hero {
  height: 730px;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}
.hero p {
  line-height: 25px;
  margin-bottom: 30px;
  width: 95%;
  text-align: center;
}
.hero button {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
  box-shadow: 2px 2px 5px 5px #6c6ccf;
}
/* main */
.main .container > * {
  padding-bottom: 30px;
}
.main h2 {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.main h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0;
}
.main p {
  margin: 20px 0;
}
.main a {
  color: var(--primary);
  cursor: pointer;
}
/* services */
.services {
  background-color: var(--secondary2);
  padding-top: 25px;
}
.services h2 {
  margin: 50px 0;
  text-align: center;
}
.service-box img {
  width: 47px;
}
.service-box i {
  font-size: 25px;
}
.service-box {
  text-align: center;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.box-img {
  padding: 0.4em 0.4em;
  background-color: var(--primary);
}
.service-box h4,
.service-box p {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* tours */
.tour-card h5 {
  margin: 10px 20px;
  font-size: 18px;
}
.tour-card {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
}
.where {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.where > p::before {
  content: "\f279";
  font-family: FontAwesome;
  color: var(--primary);
}
.tour-card img {
  max-height: 210px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* subscribe */
.subscribtion {
  background-color: var(--primary);
  color: var(--secondary);
  width: 100%;
}
.updates h6 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}
.updates p {
  text-transform: capitalize;
  margin: 15px 0;
}
.input-bar {
  display: flex;
}
.input-bar input {
  margin: 0;
  width: 70%;
  padding: 5px 0;
  border: none;
}
.input-bar button {
  margin: 0;
  border: none;
  width: 30%;
  border-left: none;
  background-color: var(--secondary);
}
.subscribtion .container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.container .updates,
.container .input-bar {
  flex: 1 1 50%;
}
 {
}
/* footer */
footer {
  background-color: var(--primary2);
  color: var(--secondary2);
}
footer ul {
  display: flex;
  justify-content: center;
  font-size: 12px;
  justify-content: space-evenly;
  padding-top: 25px;
  margin: 0;
}
footer p {
  text-align: center;
  font-size: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 15px;
  }
  header {
    padding: 20px 10px;
  }
  .hero {
    background: url(/assets/herosec.jpg) center / cover;
    position: relative;
    background-attachment: fixed;
  }
  .hero::after {
    position: absolute;
    content: "";
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-color: #7474db7e;
    inset: 0;
  }
  .hero > * {
    z-index: 10;
  }
  .main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .grid p {
    font-size: 14px;
  }
  .grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .tours .container {
    display: flex;
    flex-wrap: wrap;
  }
  .input-bar input {
    width: 90%;
  }
  .input-bar button {
    width: 10%;
  }
}
